<%include file="base.html"/>
<%
import os, os.path
import herp
    
%>
<head>
    <title>${year}, ${title}</title>
</head>

<body>

<%


def merp(dirtocheck):
    fullpath =[]
    for root, _, files in os.walk(dirtocheck):
        for f in files:
            tpath = os.path.join(root, f)
            if 'becool' not in tpath:
                fullpath.append(tpath)
    return fullpath

if herp.ROOTDIR == None:
    herp.ROOTDIR = 'BB/'

dirpath = herp.ROOTDIR+year+'/'+title

ppapi=[]       
%>
<table>
% for row in merp(dirpath):
  <tr><td><a rel="prettyPhoto[gal]" href="${row}">${row}</a></td></tr>
    <% ppapi.append("'"+row+"',") %>
% endfor
</table>

<% 
out =''
for i, object in enumerate(ppapi):
    out= out+ ppapi[i]  
%>

<script>

api_gallery=[${out}];

</script>
<p><button onclick="$.prettyPhoto.open(api_gallery); return false">Launch Gallery</button></p>


</body>